body {
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: orange;
	margin-bottom: 30px;
	padding: 10px;
}

header h1 {
	font-size: 30px;
	margin: 0 0 5px 0;
}

header h2  {
	font-size: 16px;
	margin: 0;
}

.card {
	margin-bottom: 20px;
}

.card img {
	display: block;
	width: 100%;
}

.card-info {
	padding: 20px;
	border: 1px solid lightgrey;
}

.card-title {
	margin: 0;
}

.card-description {
	margin: 5px 0 0 0;
}